<h1>Listing ideas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Idea id</th>
      <th>User id</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.title %></td>
        <td><%= idea.id %></td>
        <td><%= idea.user_id %></td>
        <td><a href="/ideas/<%= idea.id %>/drafts">Drafts</a></td>
        <td><%= link_to 'Edit Idea', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idea', new_idea_path %>
