<!DOCTYPE html>
<html>
<head>
  <title>Ideas</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div><h4>
<%= link_to 'users', users_path %>

</h4></div>

<br/><br/>

<%= yield %>

</body>
</html>
